.fullRecepieSection{
  position: absolute;
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 2rem;
  // right: -100%;
  gap: .25rem;
  min-height: 100vh;
  width: 100%;
  letter-spacing: -.5px;
  &--none{
    display: none;
  }
  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .title{
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
    }
    .recepie__image{
      display: block;
      border-radius: 10px;
      margin: 0 auto;
      width: 100%;
      // transform: scale(.9);
    }
    .recepie__title{
      font-size: 1.25rem;
      text-align: center;
    }
    .recepie__tags{
      display: flex;
      font-size: .7rem;
      gap: .5rem;
      align-items: center;
      justify-content: center;
      font-style: italic;
    }
    .recepie__ingredients{
      .ingredients__list{
        display: flex; 
        flex-direction: column;
        padding: .5rem 2rem;
        gap: .25rem;
        list-style: disc;
        font-size: .7rem;
        .ingredient{
          display: flex;
          justify-content: space-between;
          .name{
            position: relative;
            &::before{
              content:"•";
              position: absolute;
              left: -.5rem;
            }
            
          }
          .measure{
            color: $fadedBlack;
            font-style: italic;
          }
        }
      }
    }
    .recepie__description{
      .description{
        margin-top: .5rem;
        font-size: .7rem;
        text-align: justify;
        white-space:  pre-wrap;
      }
    }
    .enjoy{
      margin-left: auto;
    }
  }
  
}