.navSection{
  width: 100%;
  margin: .65rem 0;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1rem;
  .formContainer{
    &__form{
      display: flex;
      border-radius: 3rem;
      box-shadow: 0 4px 15px rgba(0 0 0 / .15);
      .formContainer__text{
        outline: none;
        border: none;
        font-size: 1.1rem;
        padding: .5rem 0 .5rem .75rem;
        flex-grow: 1;
        background-color: $secoundaryBgColor;
        border-radius: 3rem 0 0 3rem;
  
      }
      .formContainer__button{
        background-color: $secoundaryBgColor;
        padding-right: .25rem;
        border-radius: 0 3rem 3rem 0;
        
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
  .categoriesContainer{
    z-index: 999;
    margin: 0 auto;
    border-radius: .5rem;
    background-color: $secoundaryBgColor;
    width: 250px;
    box-shadow: 0 0 4px rgba(0 0 0 / .15);
    position: relative;
    &__list{
      display: flex;
      align-items: center; 
      justify-content: space-evenly;
      padding: .75rem 0;
      .has-submenu{
        
          .categoryContainer__button{
            &:focus + .categorySubmenu{
              opacity: 1;
              transform: translate(-50%) scale(1);
              visibility: visible;
              pointer-events: auto;
            }  
          }
        }
        .categorySubmenu{
          position: absolute;
          pointer-events: none;
          font-size: .85rem;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          text-align: center;
          align-items: start;
          border-radius: 10px;
          top: calc(100% + .85rem);
          left: 50%;
          padding: 1rem;
          gap: 10px;
          background-color: white;
          overflow: hidden;
          transform-origin: top center;
          opacity: 0;
          transform:  translate(-50%) scale(0);
          box-shadow: 0 4px 15px rgba(0 0 0 / .25);
          transition: opacity 0.15s, transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1), -webkit-transform 0.3s cubic-bezier(0.275, 1.375, 0.8, 1);
          will-change: transform;
          div{
            transition: .1s all ease-in-out;
            &:hover{
              color: $primaryBtnColor;
              cursor: pointer;
            }
          }
          &:hover{
            opacity: 1;
            transform: translate(-50%)  scale(1);
            visibility: visible;
            pointer-events: auto;
          }
        }

      }
      .categoryContainer__button{
          cursor: pointer;
      }
    }
  }
